MBM_UI/MBM.UI/App_WebReferences/CBTSService/CBTSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Qore.cinbell.com/CBTSService/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Qore.cinbell.com/CBTSService/v1" location="http://localhost:1114/CBTSService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_CBTSService" type="i0:CBTSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GCOMAccountConfiguration">
      <soap:operation soapAction="GCOMAccountConfiguration" style="document" />
      <wsdl:input name="GCOMAccountConfigurationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CRMAccountConfiguration">
      <soap:operation soapAction="CRMAccountConfiguration" style="document" />
      <wsdl:input name="CRMAccountConfigurationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckSnapshotStatus">
      <soap:operation soapAction="CheckSnapshotStatus" style="document" />
      <wsdl:input name="CRMSnapshotSystemOrderStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CRMSnapshotSystemOrderStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfo">
      <soap:operation soapAction="GetOrderInfo" style="document" />
      <wsdl:input name="GetOrderInfoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOrderInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OrderSearch">
      <soap:operation soapAction="OrderSearch" style="document" />
      <wsdl:input name="OrderSearchRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderSearchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessCBTSOrderProductStatusSnapshot">
      <soap:operation soapAction="ProcessCBTSOrderProductStatusSnapshot" style="document" />
      <wsdl:input name="CBTSOrderProductStatusSnapshotRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessMBMServiceFeatureOrderSnapshot">
      <soap:operation soapAction="ProcessMBMServiceFeatureOrderSnapshot" style="document" />
      <wsdl:input name="MBMServiceFeatureOrderSnapshotRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessMBMUpdateSubscriberRateSheet">
      <soap:operation soapAction="ProcessMBMUpdateSubscriberRateSheet" style="document" />
      <wsdl:input name="MBMRateSheetRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>